{:note
 "row-level final truth: Joe's gold decides on 32 rows; agreed agent labels fill the rest. Known operator conflict on e-0cae94f2 (rows 0/59) kept as coded.",
 :rows
 [{:idx 0,
   :id "e-0cae94f2-9ca8-4863-9251-44278445a5f7",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 1,
   :id "e-81ccb710-4c93-48b7-8f40-0178dfb0c61b",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 2,
   :id "e-0ca30163-0906-42c0-b376-e8d056e6db4b",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 3,
   :id "e-de53a3ec-3cc2-41cd-9fa1-d54be187bc1d",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 4,
   :id "e-e7b6cc25-63e6-4179-adfe-b58190ac9781",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 5,
   :id "e-bdbf86b2-4f6a-4556-bd7c-36d60c45d0e7",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 6,
   :id "e-24f5b8b3-1a1a-43e8-9232-e3b4cc97a14f",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 7,
   :id "e-5a7ff7f7-8198-4cd9-a47e-98cf184eee9f",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 8,
   :id "e-0ca30163-0906-42c0-b376-e8d056e6db4b",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 9,
   :id "e-c95388ea-8499-48da-8369-ee9dd70aed92",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 10,
   :id "e-e425ece0-680c-46f0-bb5f-91fc60fd191b",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 11,
   :id "e-3a5430d8-3452-4826-8d09-4e2bd0c9ecd3",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 12,
   :id "e-fcd4a574-0b38-469b-af45-7601955d5aae",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 13,
   :id "e-56a2aec4-e67f-4d07-ad6f-6c399c20447d",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 14,
   :id "e-db4b8c90-ae44-402e-b750-48aa884750d2",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 15,
   :id "e-a295670e-0932-45d2-9792-695a5f750364",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 16,
   :id "e-3ec1a55c-c982-499d-8ae3-2c4fe5dc9a75",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 17,
   :id "e-190e6fad-485f-40c2-b7c4-4cf67b895bab",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 18,
   :id "e-ce907fcf-c7e1-4272-a4a2-13def7aaaa50",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 19,
   :id "e-fb961ac3-981a-4916-b097-7207faa355a9",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 20,
   :id "e-79af5df3-507f-4d06-a12a-1f7281f58741",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 21,
   :id "e-de6a0d84-2179-4dca-86bd-d202c6a4f80e",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 22,
   :id "e-11f65574-e0cf-4753-b2f3-860bbf9d76e0",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 23,
   :id "e-b77c3ab7-a742-4672-b740-7442f52fcfc5",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 24,
   :id "e-cfa92a42-523b-4508-9e4c-07c202d7d868",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 25,
   :id "e-a6e400e6-c90e-4618-9a06-6b29f2f63fe2",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 26,
   :id "e-f24e518b-3cd1-4261-90c6-7821cd56b3dc",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 27,
   :id "e-4cf4bc93-6a8a-46f4-8bea-766404e3f28b",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 28,
   :id "e-3f46c2a9-266e-4ac1-b874-92951890d506",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 29,
   :id "e-7007baf8-3c0f-44b3-b8ed-95bbabee8c2a",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 30,
   :id "e-fdbd1fc7-32bd-4429-b56b-4cb30f437c10",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 31,
   :id "e-7007baf8-3c0f-44b3-b8ed-95bbabee8c2a",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 32,
   :id "e-190e6fad-485f-40c2-b7c4-4cf67b895bab",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 33,
   :id "e-515e1983-3f8c-43a8-accc-7e50bd91afe5",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 34,
   :id "e-5900e426-9f6e-447a-90e8-00775715629a",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 35,
   :id "e-c903cf11-c509-4903-a8dd-1c19c1c81c76",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 36,
   :id "e-024e0e2b-4e6d-4557-939e-791d00277e75",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 37,
   :id "e-308c2ce9-ecb4-48e3-a759-7da379a6aff9",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 38,
   :id "e-566bf6f5-4485-4945-b0ab-25c08062beab",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 39,
   :id "e-190e6fad-485f-40c2-b7c4-4cf67b895bab",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 40,
   :id "e-1a35ec6d-5512-463e-95b0-b79b87d02d91",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 41,
   :id "e-5ed146a9-406e-44d4-b59e-5a12d11c9b6c",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 42,
   :id "e-906d06c9-7429-4987-af8a-6b70e390e6b3",
   :kind :hit,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 43,
   :id "e-fe9c4c7f-efbb-476e-977f-5ecaeb9b9a4e",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 44,
   :id "e-251899fa-68be-448e-af00-4da0258723bf",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 45,
   :id "e-0d3c4a1c-2e85-4460-a45a-1c330d2222f6",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 46,
   :id "e-1791adb9-8e19-4043-8d35-c09cbf444b21",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 47,
   :id "e-e25bd803-274a-44fc-ae80-aee1c9708366",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 48,
   :id "e-1118b60f-c1e1-44c6-aea2-7611e08573c1",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 49,
   :id "e-abc95709-772e-42a5-b13b-de3a38e4eaca",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 50,
   :id "e-0d1d4d3c-382f-4c96-88d3-7e6a70d04754",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 51,
   :id "e-6acf6b98-a358-416d-b3d4-8c597c0d17c4",
   :kind :hit,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 52,
   :id "e-c903cf11-c509-4903-a8dd-1c19c1c81c76",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 53,
   :id "e-f2e7f7ff-d5c2-405b-bd9f-95728c64f6df",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 54,
   :id "e-b78c3d3b-a530-40c7-a333-ec4e6b258fe4",
   :kind :hit,
   :true? true,
   :route :actand,
   :gold nil}
  {:idx 55,
   :id "e-7aee053c-8e96-4c6c-a5c3-7c1439894709",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 56,
   :id "e-5c6c3bb9-0a96-4603-9a6f-ed7b6e1531b8",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 57,
   :id "e-e969095d-adca-4af7-bfad-906f774fda98",
   :kind :hit,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 58,
   :id "e-f48e640a-832f-42fe-8722-d67dd92f7f6e",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 59,
   :id "e-0cae94f2-9ca8-4863-9251-44278445a5f7",
   :kind :hit,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 60,
   :id "e-2ee5e6ec-2b17-456a-a3b7-82939dd9bedd",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 61,
   :id "e-ce11db09-961c-4e60-94fe-e25ccc197216",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 62,
   :id "e-0d743563-cff8-48a9-849d-dc86e0b25058",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 63,
   :id "e-6c85ce9b-38c4-414d-8aec-1d4a22111f6b",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 64,
   :id "e-b1ccb9ee-258a-4d82-a22b-707c0e73a4e9",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 65,
   :id "e-b4acb8ae-392d-4e3e-9028-059efa38f270",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 66,
   :id "e-24b74c4f-bd7f-432f-965a-1ca811bbfede",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 67,
   :id "e-ef904b47-1ae0-440c-9e95-fb57bdb81de3",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 68,
   :id "e-d6b5fce3-7690-48cb-9995-91ace67b5a31",
   :kind :probe,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 69,
   :id "e-52a3d918-9df3-4ec1-a2e4-963668c93447",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 70,
   :id "e-7b72a825-4d6e-4b07-bbf2-2994b54cfc99",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 71,
   :id "e-8c3705a5-a4fb-49a2-9317-b7eea7814923",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 72,
   :id "e-8ae3d162-5a14-47d3-822d-5b85e4fedf78",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 73,
   :id "e-7f4fc9e6-501c-47e8-a964-29cefba96b40",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 74,
   :id "e-be6780c3-6bd6-447c-8c42-e0ac390548e0",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 75,
   :id "e-81b212c2-86c7-4142-a2ad-784a47fa82e4",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 76,
   :id "e-f32294be-206f-4942-b7d1-9a651a8b9e11",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 77,
   :id "e-1c1496ef-6b6e-40bc-8a05-70dabc4e94aa",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 78,
   :id "e-6eef5ea1-3775-4627-bae6-057b4bef43dc",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 79,
   :id "e-5bc3b2d5-4619-4340-b2eb-e18b770a31f3",
   :kind :probe,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 80,
   :id "e-d46c3031-9208-4d50-92b0-9f0454ede19d",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 81,
   :id "e-fa5c4ca5-8a14-4ef0-afab-105d5e1c201c",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 82,
   :id "e-d9fb728d-033d-4dc2-9a4d-3cc63b4553b5",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 83,
   :id "e-a73a5403-622a-4c10-8884-7b87fce887f4",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 84,
   :id "e-793a8557-46cf-4acc-aca6-b64e24c19aa9",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 85,
   :id "e-4f23fd65-bcad-4de4-abc2-706e6a071125",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 86,
   :id "e-62dfc418-29b4-4509-afbf-6d7c3365920c",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 87,
   :id "e-8abc97a6-f524-4a12-93cc-16a07e8c4a62",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 88,
   :id "e-9dcfe258-0984-4681-92ab-c936baba205e",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 89,
   :id "e-b98b042d-5647-4ecd-bf4d-831ce5cccb39",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 90,
   :id "e-6c18cf96-237b-4a4b-b7ff-876f63c4756f",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 91,
   :id "e-b9413902-8e41-4279-abbe-0334d5d5b035",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 92,
   :id "e-b3161ed3-16ba-4251-bd73-2f7b434b43c4",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 93,
   :id "e-ea316241-fd7e-4d81-bc49-d4b6ee97b884",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 94,
   :id "e-b754bfdf-ee40-4281-a15a-84826494eb76",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 95,
   :id "e-b8de3bbe-edc6-4c86-957d-d060ee2f702d",
   :kind :probe,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 96,
   :id "e-08e7b27f-2d5f-41f0-8499-cf904152eb50",
   :kind :probe,
   :true? true,
   :route :c-channel,
   :gold nil}
  {:idx 97,
   :id "e-c9325128-4638-44c3-86e9-2e5701b302c8",
   :kind :probe,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 98,
   :id "e-74ff0c19-ecc3-44a7-95c9-08f83999cd99",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 99,
   :id "e-2c4df309-f06b-419c-9157-bbc5cd6c7858",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 100,
   :id "e-6dabb568-2948-46fc-81fb-9130f3ee412a",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 101,
   :id "e-4d475963-5100-4cd0-95da-d65c8b5dac0a",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 102,
   :id "e-d26cc8c4-0969-481b-8452-ae3c2537c912",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}
  {:idx 103,
   :id "e-cd45abcd-28f5-43f6-9a71-a5b8d795faff",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 104,
   :id "e-05c61b68-542d-416d-94e0-cc9d76dd653f",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 105,
   :id "e-b4129a5b-441d-4a51-8b69-948c3f69a864",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 106,
   :id "e-084e6549-ddc6-4ab0-a61d-cbf9e23c1fa5",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 107,
   :id "e-acddcbaf-a772-4547-bc59-d36ab019d8b6",
   :kind :probe,
   :true? false,
   :route nil,
   :gold {:correction? false, :route nil}}
  {:idx 108,
   :id "e-cc5a3f6d-181b-425e-947f-faa5289094da",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 109,
   :id "e-c1958636-139c-4f7e-aea5-2df834bfc0b2",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 110,
   :id "e-4c2ea0a1-9e20-4cee-8420-da3b2e278f0d",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 111,
   :id "e-ec3f39b5-c74d-4e13-84d9-58e35fa56fca",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 112,
   :id "e-8335f157-1180-4816-8380-9fc284da2b47",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 113,
   :id "e-cd951905-e00c-40af-b902-d80ad70ac74e",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 114,
   :id "e-6eb41001-7021-4030-97d6-2bc68fbc4025",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 115,
   :id "e-1c6fb64c-0dc1-4293-bfef-4511c93f0486",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 116,
   :id "e-aa885b26-4a7e-45bd-9dc8-ead13a91e1a0",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold nil}
  {:idx 117,
   :id "e-3bc603e7-1495-4b08-b74e-4258c2b1cdd1",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 118,
   :id "e-45dbfd75-5cbe-4780-8b8b-3ee6db68b88f",
   :kind :probe,
   :true? false,
   :route nil,
   :gold nil}
  {:idx 119,
   :id "e-1719b198-6126-4670-bb1d-ee7a8f362405",
   :kind :probe,
   :true? true,
   :route :gamma,
   :gold {:correction? true, :route :gamma}}]}
