{:paths ["src" "resources" "."]
:deps {org.clojure/clojure {:mvn/version "1.11.1"}
       common/common {:local/root "../futon1/apps/common"}}
 :aliases
 {:run {:main-opts ["-m" "ants.main"]}
  :run-m {:main-opts ["-m" "ants.clj-ants-aif"]}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :bench {:main-opts ["-m" "ants.bench"]}
  :viz {:main-opts ["-m" "ants.visual"]}}}
