{:schema 1,
 :sweeps 3,
 :last-sweep-at "2026-09-02T09:51:40.991296988Z",
 :threshold 3,
 :trace
 {"wm-trace-2026-06-22.edn" {:lines 17},
  "wm-trace-2026-07-09.edn" {:lines 1},
  "wm-trace-2026-06-26.edn" {:lines 12},
  "wm-trace-2026-05-19.edn" {:lines 9},
  "wm-trace-2026-06-10.edn" {:lines 22},
  "wm-trace-2026-06-08.edn" {:lines 24},
  "wm-trace-2026-05-27.edn" {:lines 9},
  "wm-trace-2026-06-13.edn" {:lines 24},
  "wm-trace-2026-06-23.edn" {:lines 13},
  "wm-trace-2026-06-04.edn" {:lines 24},
  "wm-trace-2026-07-02.edn" {:lines 34},
  "wm-trace-2026-06-21.edn" {:lines 3},
  "wm-trace-2026-06-24.edn" {:lines 10},
  "wm-trace-2026-06-17.edn" {:lines 15},
  "wm-trace-2026-06-03.edn" {:lines 24},
  "wm-trace-2026-07-01.edn" {:lines 23},
  "wm-trace-2026-07-14.edn" {:lines 14},
  "wm-trace-2026-07-18.edn" {:lines 1},
  "wm-trace-2026-06-27.edn" {:lines 11},
  "wm-trace-2026-06-29.edn" {:lines 18},
  "wm-trace-2026-06-15.edn" {:lines 8},
  "wm-trace-2026-09-01.edn" {:lines 79},
  "wm-trace-2026-07-04.edn" {:lines 38},
  "wm-trace-2026-06-07.edn" {:lines 23},
  "wm-trace-2026-07-21.edn" {:lines 2},
  "wm-trace-2026-06-05.edn" {:lines 15},
  "wm-trace-2026-05-24.edn" {:lines 24},
  "wm-trace-2026-07-16.edn" {:lines 6},
  "wm-trace-2026-06-18.edn" {:lines 12},
  "wm-trace-2026-06-12.edn" {:lines 7},
  "wm-trace-2026-06-06.edn" {:lines 24},
  "wm-trace-2026-06-14.edn" {:lines 20},
  "wm-trace-2026-07-05.edn" {:lines 18},
  "wm-trace-2026-05-26.edn" {:lines 17},
  "wm-trace-2026-05-25.edn" {:lines 21},
  "wm-trace-2026-06-16.edn" {:lines 14},
  "wm-trace-2026-05-23.edn" {:lines 24},
  "wm-trace-2026-06-01.edn" {:lines 12},
  "wm-trace-2026-07-03.edn" {:lines 20},
  "wm-trace-2026-06-09.edn" {:lines 23},
  "wm-trace-2026-05-31.edn" {:lines 19},
  "wm-trace-2026-05-21.edn" {:lines 13},
  "wm-trace-2026-06-25.edn" {:lines 15},
  "wm-trace-2026-07-06.edn" {:lines 21},
  "wm-trace-2026-05-18.edn" {:lines 7},
  "wm-trace-2026-06-28.edn" {:lines 14},
  "wm-trace-2026-08-31.edn" {:lines 5},
  "wm-trace-2026-07-19.edn" {:lines 1},
  "wm-trace-2026-05-30.edn" {:lines 2},
  "wm-trace-2026-05-22.edn" {:lines 24},
  "wm-trace-2026-06-30.edn" {:lines 18},
  "wm-trace-2026-08-30.edn" {:lines 7},
  "wm-trace-2026-07-15.edn" {:lines 6},
  "wm-trace-2026-06-02.edn" {:lines 14},
  "wm-trace-2026-07-17.edn" {:lines 1}},
 :lint {:ok? true, :finding-keys []},
 :classes {}}
