{:source "data/wm-full-loop-machinery-71/wm-contract-machinery-71-v1/attempt-002/007-closed.edn", :payload {:judgment {:occurrence {:action/id "action-88c8dab8-7052-4f3c-a5f0-0d461fd4fe3e", :action/value-sha256 "95bf9d38e86e3d77872f1ae1530b398e5f97a636ad209594c76659c819cd6702", :transition/id "transition-dc9de270-2cd6-47e0-85ec-20e92e8c004f"}, :accepted-increment {:accepted? :refused, :reason :predicate-evaluation-failed, :message "nth not supported on this type: PersistentArrayMap"}}}}